.bg-colornav {
    background-color: rgb(212, 208, 248);
}
.bg-colorfondo {
    background-color:transparent;
}

.font-brandname {
    font-family: 'Mynerve', cursive;
    font-size: 30px;
}
@import "../libs/bootstrap/scss/bootstrap.scss";